
p {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    font-size:xx-medium;
    color:blue;
}
h1 {
    color: red;
    font-size:xx-medium;
}    
h2 {
    color: green;
    font-size:xx-small;
}    